/* HERO / HOME SECTION */
.hero-section {
    background: linear-gradient(135deg, #ff7a00, #ffb347);
    color: white;
    padding: 60px 20px;
    border-radius: 0 0 30px 30px;
}

.hero-section h1 {
    font-size: 32px;
}

.hero-section p {
    margin-top:10px;
    line-height:1.6;
}
